<th class="align-middle" scope="row">{{ name }}</th>
<td class="align-middle">{{ category }}</td>
<td class="align-middle">{{ dateStart }}</td>
<td class="align-middle">{{ dateEnd }}</td>
<td class="d-flex justify-content-between align-items-center" [ngClass]="status === 'Просрочено' ?
'table-danger' : 'table-light'
">
  <span >{{ status }}</span>
  <button class="btn btn-danger ml-1" (click)="editTask()">Редактировать</button>
  <button class="btn btn-danger ml-1" (click)="deleteTask()">Удалить</button>
</td>


