<div class="cover min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
          <h1 class="display-4 py-2 text-truncate">Login form</h1>
          <div class="px-2">
            <form (ngSubmit)="submitForm(loginForm)" #loginForm="ngForm" action="" class="justify-content-center">
              <div class="form-group">
                <label class="sr-only">Name</label>
                <input type="text" class="form-control" placeholder="John Smith" name="name"
                       [(ngModel)]="name"
                >
              </div>
              <div class="form-group">
                <label class="sr-only">Password</label>
                <input type="text" class="form-control" name="password"  placeholder="******"
                       [(ngModel)]="password"
                >
              </div>
              <button type="submit" (click)="login()" class="btn btn-primary btn-lg">Войти</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


